<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SysRoleMapper">
    <resultMap id="sys_role" type="SysRole">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="roleName" column="role_name"/>
    </resultMap>

    <select id="roleByUsername" parameterType="string" resultMap="sys_role">
        SELECT
            sr.id,
            sr.code,
            sr.role_name
        FROM
            sys_user AS su
            JOIN sys_user_role AS sur ON su.id = sur.user_id
            JOIN sys_role AS sr ON sur.role_id = sr.id
        WHERE
            username = #{username}
    </select>
</mapper>