<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SysUserMapper">
    <resultMap id="sys_user" type="SysUser">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="nickname" column="nickname"/>
        <result property="address" column="address"/>
        <result property="avatarUrl" column="avatar_url"/>
        <result property="createTime" column="create_time"/>
        <result property="lastModifyTime" column="last_modify_time"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="accountNonExpired" column="account_non_expired"/>
        <result property="accountNonLocked" column="account_non_locked"/>
        <result property="credentialsNonExpired" column="credentials_non_expired"/>
        <result property="enabled" column="enabled"/>
    </resultMap>

    <select id="selectByUsername" parameterType="string" resultMap="sys_user">
        select * from sys_user where username = #{username}
    </select>

    <select id="selectAll" resultMap="sys_user">
        select  * from sys_user
    </select>

    <update id="updateLastLoginTime" parameterType="string">
        update sys_user
        set last_login_time = now()
        where username = #{username}
    </update>

    <select id="test" parameterType="java.util.Map" resultMap="sys_user">
        select * from  sys_user
        where
        <!-- <if test="enabled != null and enabled != ''"> 采用下面方法可避免int判空问题 -->
        <if test="enabled != null and enabled != '' or enabled == 0 " >
            enabled = #{enabled}
        </if>
    </select>
</mapper>