<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- mybatis的配置文件需要严格按顺序写属性 -->
    <!-- mybatis一旦使用xml配置文件后，application配置文件就需要关闭，否则会有冲突-->
    <settings>
        <setting name="logImpl" value="example.hello_security.config.TraceIdStdOutImpl"/>
<!--        <setting name="logImpl" value="example.hello_security.config.TraceIdSlf4jImpl"/>-->
<!--        <setting name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"/>-->
<!--        <setting name="logImpl" value="org.apache.ibatis.logging.slf4j.Slf4jImpl"/>-->
    </settings>

    <!-- 可选：类型别名 -->
    <typeAliases>
        <package name="example.hello_security.entity"/>
    </typeAliases>

    <!-- 映射器 -->
    <mappers>
        <!-- 通过包扫描方式注册映射器 -->
        <package name="example.hello_security.mapper"/>
        <!-- 也可以通过文件路径方式注册映射器 -->
        <!-- <mapper resource="example/hello_security/mapper/UserMapper.xml"/> -->
    </mappers>

</configuration>